
.sidebar{
   
    position: fixed;
    top: 55px;
    left: 0px;
    bottom: 0px;
    width: 72px;
  padding-top: 5px;
z-index: 200;
background-color: white;
}
.sidebardiv-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    cursor: pointer;
    margin-bottom: 1px;
}
.sidebardiv-icon:hover{
    background-color: rgb(218, 218, 218);
}
.sidebardiv-icon img{
    height: 24px;
    margin-bottom: 5px;
}
.sidebardiv-icon p{
    font-family: Roboto,Arial;
    font-size: 10px;
}

@media(min-width:1200.1px)
{
    .sidebar{
    display: flex;
    flex-direction: column;
    
        position: fixed;
        top: 55px;
        left: 0px;
        bottom: 0px;
        width: 200px;
      padding-top: 20px;
      
    z-index: 200;
    background-color: white;
    }
    .sidebardiv-icon{
        
        display: flex;
        flex-direction: row;
    justify-content: left;
        height: 35px;
        cursor: pointer;
        margin-bottom: 1px;
       padding-left: 20px;
    }
    .sidebardiv-icon img{
        margin-right: 20px;
    }
    body{
        padding-left: 200px;
    }
}